<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCh6LI6eOFIFzHpqHRQJ9EbLqIfql3GWYE</string>
	<key>GCM_SENDER_ID</key>
	<string>564494589557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morningstar.homeradar</string>
	<key>PROJECT_ID</key>
	<string>homeradar-dd457</string>
	<key>STORAGE_BUCKET</key>
	<string>homeradar-dd457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564494589557:ios:c90f70e76699fae84a223c</string>
</dict>
</plist>